<% id = rand(100) %>
<div class="row" style="margin-bottom: 15px;">
	<div class="col-md-3 col-md-offset-2">
		<div class="form-group">
		  <label for="postcode_<%= id %>">Postcode</label>
		  <input type="text" class="form-control" id="postcode_<%= id %>" name="postcodes[]" placeholder="Postcode">
		</div>
	</div>
	<div class="col-md-5">
		<div class="form-group">
		  <label for="appointment_duration_<%= id %>">Appointment duration (minutes)</label>
		  <input type="number" class="form-control" id="appointment_duration_<%= id %>" name="appointment_durations[]" placeholder="Duration">
		</div>
	</div>
</div>
